{% use 'form_div_layout.html.twig' %}
{% block file_widget %}

<div class="placement">
    <input type="file" id="trick_photos___name__" name="trick[photos][__name__][file]" value="{{ form.vars.data }}" required="required">
</div>
{% endblock file_widget %}#}