{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
            {% for message in app.flashes('success') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="div-home-title">
                {% if is_granted('ROLE_USER') %}
                    <h3 class="centered-title size-25px">Welcome {{ app.user }}</h3>
                {% else %}
                    <div class="centered-title size-25px">Just make your trick 🎿</div>
                {% endif %}
            </div>
        <div class="tricks-container">
            {% include 'trick/index.html.twig' %}
            <div class="img-centered">
                <button id="show-more" class="show-more">Show more</button>
                <div class="clock-loader"></div>
                <span class="loader"><span class="loader-inner"></span></span>
            </div>
        </div>
        <div id="content"></div>
{% endblock %}
{%block javascripts %}
<script type="module" src="{{ asset('js/show-more.js') }}"></script>
{% endblock %}
