{% block body %}
    <img src="{{ asset('images/snowtricks-logo.png') }}" class="logo-snowtricks" alt="logo-snowtricks">
    <div class="background-image">
    <div class="img-snowtricks-home"></div>
</div>
{% endblock %}