{% block body %}
    <a href="{{ path('home') }}"><img src="{{ asset('images/snowtricks-logo.png') }}" class="logo-snowtricks"
                                      alt="logo-snowtricks"></a>
        <div class="img-snowtricks-home"></div>
{% endblock %}