{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}

{% block body %}

    <div class="div-form-title">
        <h1 class="centered-title">Nouveau Trick</h1>
    </div>
    {{ include('trick/_form.html.twig') }}
{% endblock %}
